@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
$max-width: 1343px;
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}
.container {
  width: 100%;
  max-width: $max-width;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 28px;
  box-sizing: border-box;
  margin: 10px auto;
  background-color: #e5e5e5;
}

.container .card {
  width: 100%;
  max-width: 630px;
  padding: 27px 28px 21px 29px;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(82, 63, 105, 0.05);
  border-radius: 6px;
  box-sizing: border-box;
}

.card__title {
  display: flex;
  justify-content: flex-start;
  & > .img {
    width: 64px;
    height: 64px;
    background: #f1f3ff;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 36px;
      height: 36px;
      background: #3445e5;
      opacity: 0.3;
      border-radius: 50%;
    }
  }
  & > .desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 12px;
    padding: 5px 0;
    & > .title {
      font-style: normal;
      font-weight: 600;
      font-size: 17px;
      line-height: 25px;
      color: #181c32;
    }
    & > .id {
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 19px;
      color: #b5b5c3;
    }
  }
}

.status {
  display: flex;
  justify-content: flex-start;
  padding: 23px 0 38px;
  border-bottom: 2px solid #f4f7fa;
}
.stop-play {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  & > span {
    display: flex;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: #3f4254;
  }
  & > button {
    cursor: pointer;
    width: 135px;
    border-radius: 6px;
    min-height: 36px;
    display: none;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
  }
  & > button.active {
    display: flex;
  }
  & > button.btn-stope {
    background: #ffe2e5;
    color: #f64e60;
    & > span {
      margin-left: 13px;
    }
  }
  & > button.btn-play {
    background: #c9f7f5;
    color: #1bc5bd;
    & > span {
      margin-left: 13px;
    }
  }
}

.progress {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-left: 37px;
  justify-content: space-between;
  & > .title {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: #3f4254;
  }
  & .progress-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    & > .cont {
      width: 240px;
      height: 6px;
      position: relative;
      background: #f4f7fa;
      border-radius: 6px;
      & > .body {
        position: absolute;
        left: 0;
        top: 0;
        height: 6px;
        background: #3445e5;
        border-radius: 6px;
      }
    }
    & > .value {
      margin-left: 12px;
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 19px;
      color: #b5b5c3;
    }
  }
}

.statistic {
  display: flex;
  justify-content: space-between;
  padding: 26px 0 36px;
  border-bottom: 2px solid #f4f7fa;
}

.statistic > .field {
  width: 100%;
  max-width: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  & > .title {
    display: flex;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: #3f4254;
  }
  & > .value {
    width: 100%;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    border: 1px solid #f3f6f9;
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #7e8299;
  }
}
