@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  max-width: 1343px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px auto;
  background-color: #e5e5e5;
}

.container .card {
  width: 100%;
  max-width: 630px;
  padding: 27px 28px 21px 29px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 30px rgba(82, 63, 105, 0.05);
          box-shadow: 0px 0px 30px rgba(82, 63, 105, 0.05);
  border-radius: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.card__title > .img {
  width: 64px;
  height: 64px;
  background: #f1f3ff;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.card__title > .img::before {
  content: '';
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  background: #3445e5;
  opacity: 0.3;
  border-radius: 50%;
}

.card__title > .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 12px;
  padding: 5px 0;
}

.card__title > .desc > .title {
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  color: #181c32;
}

.card__title > .desc > .id {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  color: #b5b5c3;
}

.status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 23px 0 38px;
  border-bottom: 2px solid #f4f7fa;
}

.stop-play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.stop-play > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  color: #3f4254;
}

.stop-play > button {
  cursor: pointer;
  width: 135px;
  border-radius: 6px;
  min-height: 36px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
}

.stop-play > button.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stop-play > button.btn-stope {
  background: #ffe2e5;
  color: #f64e60;
}

.stop-play > button.btn-stope > span {
  margin-left: 13px;
}

.stop-play > button.btn-play {
  background: #c9f7f5;
  color: #1bc5bd;
}

.stop-play > button.btn-play > span {
  margin-left: 13px;
}

.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  margin-left: 37px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.progress > .title {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  color: #3f4254;
}

.progress .progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progress .progress-bar > .cont {
  width: 240px;
  height: 6px;
  position: relative;
  background: #f4f7fa;
  border-radius: 6px;
}

.progress .progress-bar > .cont > .body {
  position: absolute;
  left: 0;
  top: 0;
  height: 6px;
  background: #3445e5;
  border-radius: 6px;
}

.progress .progress-bar > .value {
  margin-left: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  color: #b5b5c3;
}

.statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 26px 0 36px;
  border-bottom: 2px solid #f4f7fa;
}

.statistic > .field {
  width: 100%;
  max-width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.statistic > .field > .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  color: #3f4254;
}

.statistic > .field > .value {
  width: 100%;
  padding: 8px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #f3f6f9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #7e8299;
}
/*# sourceMappingURL=style.css.map */